.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  margin: auto;
  margin-top: 50px;
  height: 400px;
  width: 250px;
  text-align: center;
  font-family: arial;
}

.cardtitle{
  min-height: 20px;
  display:block;
  margin:auto;
}


.card img{
  height: 130px;
  display:block;
  margin:auto;
}


.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
  margin-top: 7px;
}

.card button:hover {
  opacity: 0.7;
}

.buttonItem{
  
  text-decoration: none;
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: 7px;
}
.buttonItem:hover{
  opacity: 0.7;
}

