
nav {
    display: flex; 
    justify-content: space-between; 
    padding: 1rem 2rem; 
    background: #c05252; 
    align-items: center;
  }
  

.navBarTitle{
  text-decoration: none;
  color: black;
}

.navBarTitle:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.Categories{
  display: flex; 
  list-style: none; 
}

.Option{
  padding-left: 1rem; 
  text-decoration: none;
  color: #000000
}

.Option:hover{
  text-decoration: none;
  color: #ffffff
}

.ActiveOption{  
  
  text-decoration: none;
  padding-left: 1rem; 
  color: #ffffff
}

.ActiveOption:hover{  
  
  text-decoration: none;
  text-decoration: none;
  color: #ffffff
}